/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    overflow-x: hidden;
    background: rgb(255, 185, 45, 0.90);
    color: white;
}

#content {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(115, 134, 213);
    color: #fff;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    margin-left: 0rem;
}

#sidebar.active {
    margin-left: -15rem;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(115, 134, 213);
}

.sidebar-header p {
    font-size: 1rem;
    color: white;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(115, 134, 213);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgb(115, 134, 213);
}

/* .sidebar-header h3 b{
    font-size: 3rem;
    color: rgb(255, 185, 45);
    -webkit-text-stroke: 2px black;
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(115, 134, 213);
}

.icon span {
    font-size: 1.5rem;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.menuTop{
    top: 0;
    left: 0;
}

.fixedBackImg {
    width: 100%;
    background-image: url("http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg");
    min-height: 50rem;
    background-size: 500%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lMProto {
    background-position: 20% 0% 0% 0%;
    background-size: 120%;
    background-image: url('../images/laurenSectionPrototyping.PNG');
    background-blend-mode: lighten;
}

#menu{
    cursor: pointer;
    font-size: 2rem;
}

#parallax1{
    position: relative;
    margin-top: 5%;
    padding: 30% 7.5%;
}

.num1{
    background-color: rgba(255,255,255,0.85);
    color: black;
    box-shadow: 0px 0px 100px 50px rgba(255,255,255,1);
}

#content {
    width: 100%;
    padding: 0% 7.5%;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.testHeader{
    border: solid black 1px;
    width: 100%;
}

#sidebarCollapse {
    position: fixed;
    left: 0;
    top: 2%;
    cursor: pointer;
    font-size: 0.5rem;
    color: white;
    background-color: rgb(115, 134, 213);
    border: 1px solid transparent;
    border-radius: 0rem .5rem .5rem 0rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0rem;
    z-index: 3;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;

}

#sidebarCollapse:hover {
    cursor: pointer;
    background-color: rgb(115, 134, 213);
    color: white;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    box-shadow: 0px 0px 30px 10px rgba(115,134,213,1);
}

#sidebarCollapse:focus{
    outline-style: none;
}

#sidebarCollapse.active {
    top: 0%;
    margin-left: 15rem;
    cursor: pointer;
    background-color: rgb(115, 134, 213);
    color: white;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    z-index: 2;
}

#sidebarCollapse.active:hover {
    cursor: pointer;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    box-shadow: 0px 0px 30px 10px rgba(115,134,213,1);
}

.advanceButtons {
    margin: 2% 0%;
    cursor: pointer;
    background-color: rgb(115, 134, 213);
    color: white;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
}

.advanceButtons:hover {
    box-shadow: 0px 0px 30px 10px rgba(115,134,213,1);
}

.advanceButtons:focus{
    outline-style: none;
}

#title, .bodyText1 {
    padding: 2% 3.5%;
    transition: all cubic-bezier(0.25,0.1,0.25,1) .25s;
    background-color: rgb(255, 185, 45, 0.75);
    box-shadow: 0px 0px 100px 50px rgba(255, 185, 45, 0.75);
}

#title{
    /* -webkit-text-stroke: 1.25px black; */
}

.bodyText1 {
    /* display: table; */
    text-align: center;
}

.text{
    width: 100%;
}

.image{
    width: 100%;
    height: 100%;
}

.intro{
    /* border: solid black 1px; */
    display: flex;
    align-items: start;
}

#introTitle {
    font-size: 7.5vw;
}

#introText{
    padding: 0rem 1rem;
    font-size: 7.5vw;
}

.header, .intro, #introText, #introTitle{
    justify-content: center;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media only screen and (min-width: 600px) {
    .intro{
        padding: 1rem 0rem;
    }

}

@media only screen and (min-width: 600px) {
    .col {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .intro{
        padding: 1rem 0rem;
    }

}

@media only screen and (max-width: 600px) {
    .col {
        display: block;
        width: 100%;
    }
}
